<div class="viewer-content-block">
  <div class="hint">
    Расскажите о совем образовании навыках и интересах.
  </div>
  <div class="row">
    <div class="col-5" style="font-size: 18px; font-style: italic">Средне-специальное образование</div>
  </div>
  <div class="row">
    <div class="col-5">Учереждение:</div>
    <div class="col-5">
      <input type="text" placeholder="Колледж, лицей, техникум">
      <div class="line red-b"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-5">Специальность:</div>
    <div class="col-5">
      <input type="text" placeholder="Университет, институт">
      <div class="line red-b"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-5" style="font-size: 18px; font-style: italic">Высшее образование</div>
  </div>
  <div class="row">
    <div class="col-5">Учереждение:</div>
    <div class="col-5">
      <input type="text" placeholder="Ваше имя">
      <div class="line red-b"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-5">Специальность:</div>
    <div class="col-5">
      <input type="text" placeholder="Ваше имя">
      <div class="line red-b"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-5" style="font-size: 18px; font-style: italic">Интересы и навыки</div>
  </div>
  <div class="row">
    <div class="col-5">Интересы:</div>
    <div class="col-5">
      <input type="text" placeholder="Ваше имя">
      <div class="line red-b"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-5">Навыки:</div>
    <div class="col-5">
      <input type="text" placeholder="Ваше имя">
      <div class="line red-b"></div>
    </div>
  </div>
  <div style="display:flex">
    <div class="but">
      <a>Сохранить</a>
      <div class="line red-b"></div>
    </div>
    <div class="but">
      <a>Просмотреть профиль</a>
      <div class="line red-b"></div>
    </div>
  </div>
</div>
