<div class="viewer-content-block">
  <div class="hint">
    Укажите контактные данные, для того что бы с вами можно было связатся!
  </div>
  <div class="row">
    <div class="col-5">Страна:</div>
    <div class="col-5">
      <select name="" id="">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-5">Город</div>
    <div class="col-5">
      <select name="" id="">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-5">Телефон</div>
    <div class="col-5">
      <input type="text">
    </div>
  </div>
  <div class="row">
    <div class="col-5">Skype</div>
    <div class="col-5">
      <input type="text">
    </div>
  </div>
  <div class="row">
    <div class="col-5">Личный сайт</div>
    <div class="col-5">
      <input type="text">
    </div>
  </div>
  <div class="row">
    <div class="col-5">E-mail</div>
    <div class="col-5">
      <input type="text">
    </div>
  </div>
  <div style="display:flex">
    <div class="but">
      <a>Сохранить</a>
      <div class="line red-b"></div>
    </div>
    <div class="but">
      <a>Просмотреть профиль</a>
      <div class="line red-b"></div>
    </div>
  </div>
</div>
