<div class="viewer-content-block">

  <div class="hint">
    Заполните ваши данные что бы люди знали к вам обращаться и узнали о вас что то интересное!
  </div>
  <div class="row"></div>
  <div class="row">
    <div class="col-4">Имя:</div>
    <div class="col-5">
      <input type="text" placeholder="Ваше имя">
      <div class="line red-b"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-5">Фамилия:</div>
    <div class="col-5">
      <input type="text" placeholder="Ваша фамилия">
      <div class="line red-b"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-5">Отчество:</div>
    <div class="col-5">
      <input type="text" placeholder="Ваше отчество">
      <div class="line red-b"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-5">Пол:</div>
    <div class="col-5">
      <select name="" id="">
        <option value="">Выберите пол</option>
        <option value="">Мужской</option>
        <option value="">Женский</option>
      </select>
      <div class="line line-active red-b"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-5">День рождения:</div>
    <div class="col-5">
      <select name="" id="" style="width: 32%">
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
      </select>
      <select name="" id="" style="width: 32%">
        <option value="">Январь</option>
        <option value="">Февраль</option>
        <option value="">Март</option>
      </select>
      <select name="" id="" style="width: 32%">
        <option value="">1950</option>
        <option value="">1951</option>
        <option value="">1952</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-5">О себе:</div>
    <div class="col-5">
      <textarea name="" id="" cols="46" rows="10" placeholder="О себе"></textarea>
    </div>
  </div>

  <div style="display:flex; justify-content: center">
    <div class="but">
      <a>Сохранить</a>
      <div class="line green-b"></div>
    </div>
    <div class="but">
      <a>Посмотреть</a>
      <div class="line blue-b"></div>
    </div>
  </div>

</div>
